<div class="vote-modal">
	<button class="close-button" {{action 'hideModal'}}>X</button>
	{{input type="text" value=restaurantName placeholder="Advocate a restaurant" size="50"}}
	<input type="submit" {{action 'submit'}}>
</div>
