<h1>asdf</h1>
{{#if list}}
	<p>qwerty</p>
	<div class="vote-table">
		<table>
			{{#each list key="@index" as |data|}}
				<tr>
					<td>{{data.name}}</td> <td>{{data.votes}}</td>
				</tr>
			{{/each}}
		</table>
	</div>
{{/if}}
