// ****** fonts ******
// font-family: 'Raleway', sans-serif;
// font-family: 'Lobster', cursive;
// font-family: 'Lato', sans-serif;

.top-nav {
	display: block;
	background-color: gray;
	position: absolute;
	width: 100vw;
	margin: 0;
	top: 0;
	left: 0;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
}

.ember-view {
	& > h2 {
		// color: red;
	}
}

